{% for item in dkim_domains %}
{{ item.selector|default(dkim_default_selector) }}._domainkey.{{ item.domain }} {{ item.domain }}:{{ item.selector|default(dkim_default_selector) }}:/etc/opendkim/keys/{{ item.domain }}/{{ item.selector|default(dkim_default_selector)}}.private
{% endfor %}
